{% extends 'base/base_profile.html' %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - Оплата занятий{% endblock title %}
{% load static %}

{% block tags %}
    <meta name="description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<script>
    let summa = 320000;
    function set_sum(summa) {
        window.summa = summa;
    }
</script>
    <div class="bradcam_area breadcam_bg overlay2">
            <h3>Оплата занятий</h3>
        </div>

          <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="offset-1 col-lg-10 posts-list">
               <div class="single-post">
                  <div class="blog_details">
                      <h2 style="font-size: 40px; font-family: 'Marker Felt'">Форма оплаты
                     </h2>
                      <hr>
                      <h4>Мы предоставляем возможность оплачивать при помощи большого количества платежных систем.
                                Вам необходимо выбрать количество занятий и способ оплаты, который вам нравится больше всего</h4>

                      <div class="row mt-30">
                          <div class="col-lg-4">
                              <div class="card" style="width: 18rem;">
                                  <img class="card-img-top" src="..." alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">22400 руб<br><strike>25600руб</strike></h5>
                                    <p class="card-text">32 занятия <br>700 руб/урок</p>
                                    <a href="#test-form" onclick="set_sum(2240000)" class="popup-with-form btn btn-primary">Перейти к оплате</a>
                                  </div>
                                </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="card" style="width: 18rem;">
                                  <img class="card-img-top" src="..." alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">12000 руб<br><strike>12800руб</strike></h5>
                                    <p class="card-text">16 занятий <br>750 руб/урок</p>
                                    <a href="#test-form" onclick="set_sum(1200000)" class="popup-with-form btn btn-primary">Перейти к оплате</a>
                                  </div>
                                </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="card" style="width: 18rem;">
                                  <img class="card-img-top" src="..." alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">3200 руб<br><strike>3500руб</strike></h5>
                                    <p class="card-text">4 занятия <br>800 руб/урок</p>
                                    <a href="#test-form" onclick="set_sum(2240000)" class="popup-with-form btn btn-primary">Перейти к оплате</a>
                                  </div>
                                </div>
                          </div>
                      </div>
                      <div class="row mt-30">
                          <div class="col-lg-8 offset-2">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/q2yqeseO7aE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>

     <form id="test-form" class="white-popup-block mfp-hide">
         <div class="popup_box">
             <div class="popup_inner">
                 <div class="logo text-center">
                     <a href="#">
                         <img src="#" alt="" class="img-fluid">
                     </a>
                 </div>
                 <h3>Оплата занятий</h3>
                    <div class="container">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <p>Реквизиты для прямого перевода:
                                    <br>1. Name: Artem Kvasov
                                    <br>IBAN: GB54 TRWI 2314 7080 9316 64 (from UK only!)
                                    <br>Account number: 80931664
                                    <br>UK sort code: 23-14-70

                                    <br>Bank address:
                                    <br>TransferWise
                                    <br>56 Shoreditch High Street
                                    <br>London, E1 6JJ
                                    <br>United Kingdom
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://paypal.me/guaranteelearning" target="_blank" class="genric-btn success-border radius btn-block">Paypal</a>
                                    <button class="genric-btn success-border radius btn-block" type="submit">Сбербанк</button>
                                    <button class="genric-btn success-border radius btn-block" onclick="payment()">BePaid</button>
                                    <script type="text/javascript">
                                        this.payment = function() {
                                            var params ={
                                                checkout_url: "https://checkout.bepaid.by",
                                                checkout: {
                                                    iframe: true,
                                                    test: true,
                                                    transaction_type: "payment",
                                                    public_key: "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA17jlBxV4K01BelCL/refq6po8IbbDokwzAdjaI299SVOgCeeGDE/qoR6T9fygwN4WofiUtOUceyH9M0ad3sm9z7ySPiadqoA0u3FlQztvsEJ/8G2NRL7E5u9ckqH1gdtycFXEhlYQFT/Q+qY2bKAhIIHDlWzl0toCzvvwgdzg+kr4OW/sxfFkYcFBIytmBUffzeT20F4YuPwAg080TtQ1cOX7+LjRkRYhGa5NcEja63ILFMgL8hJgY4Y6RBvev40nRZmJIs7BsdsZEyrfa8lnNRZq0mZltZQNlMbFTjJ7he0BLq377WABFhw49hOWOjTp3uzxwKbcKhHwm2t95XVwQIDAQAB",
                                                    order: {
                                                        amount: window.summa,
                                                        currency: "EUR",
                                                        description: "Payment from {{ request.user.student.id }}",
                                                        tracking_id: "my_transaction_id"
                                                    },
                                                    settings: {
                                                        success_url: "http://127.0.0.1:8000/students/api/0/student-payment/?amount=" + window.summa + "&student_id={{ request.user.student.id }}&action=deposit&currency=EUR",
                                                        notification_url: "http://127.0.0.1:8000/students/api/0/student-payment/?amount=" + window.summa + "&student_id={{ request.user.student.id }}&action=deposit&currency=EUR"
                                                    }
                                                },
                                                closeWidget: function(status) {
                                                  // возможные значения status
                                                  // successful - операция успешна
                                                  // failed - операция не успешна
                                                  // pending - ожидаем результат/подтверждение операции
                                                  // redirected - пользователь отправлен на внешнюю платежную систему
                                                  // error - ошибка (в параметрах/сети и тд)
                                                  // null - виджет закрыли без запуска оплаты
                                                  console.debug('close widget callback')
                                                }
                                            };

                                            new BeGateway(params).createWidget();
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
             </form>

    <script type="text/javascript" src="https://js.bepaid.by/widget/be_gateway.js"></script>

{% endblock %}