{% extends 'base/base_profile.html' %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - Профиль ученика{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="col-md-3">
    <h3>Личный кабинет</h3>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Все курсы</h4>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Мои курсы</h4>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Домашние задания</h4>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Оплата</h4>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Учитесь бесплатно</h4>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Тест видеосвязи</h4>
        </a>
        <a href="{% url 'send_email_stats' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Отправить статистику на почту</h4>
        </a>
        <!-- TODO: СДЕЛАТЬ URL -->
        <a href="{% url '' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Доступные занятия</h4>
        </a>
    </div>
</div>
<div class="col-md-9">

</div>

{% endblock %}