{% extends "base/base_courses.html" %}
{% block title %}
Регистрация пользователя
{% endblock %}
{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Регистрация пользователя</h3>
</div>
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-left">
                {% if form.errors %}
                <p id='message'></p>
                {% else %}
                <p>Введите данные для входа:</p>
                {% endif %}
                <form action="" method="post">
                    {{ user_form.as_p }}
                    {{ student_form.as_p }}

                    {% for errors in user_form.errors %}
                    {{ error }}
                    {% endfor %}

                    {% for errors in student_form.errors %}
                    {{ error }}
                    {% endfor %}

                    {% csrf_token %}
                    <p><input type="submit" class="btn btn-success" value="Создать аккаунт"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}