{% extends "base/base_courses.html" %}
{% block title %}Вход в личный кабинет Гарантия Знаний{% endblock %}
{% block content %}

    <div class="generating-area" style="margin-top: 150px">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center">
                    <h2>Выход</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <p>Вы вышли из личного кабинета. <a href="{% url "login" %}">Войти снова</a>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}