{% extends 'base/base_teacher.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<!-- have-project End -->
<!-- Generating Start -->
<div class="generating-area" style="margin-top: 150px">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center">
                    <h2>Кабинет Преподавателя</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-5">
                <div class="single-element-widget">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="flaticon-social-media-marketing"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Мой профиль</h4>
                            <form action="#" method="POST">
                                <div class="mt-10">
                                    <input type="text" name="name" placeholder="{{ teacher.name }}"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                                        required class="single-input" value="{{ teacher.name }}">
                                </div>
                                <div class="mt-10">
                                    <input type="email" name="email" placeholder="{{ teacher.email }}"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
                                        required class="single-input" value="{{ teacher.email }}">
                                </div>
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                                    <div class="form-select" id="default-select">
                                        <select>
                                            <option value=" 1">Country</option>
                                            <option value="1">Bangladesh</option>
                                            <option value="1">India</option>
                                            <option value="1">England</option>
                                            <option value="1">Srilanka</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-10">
                                    <input type="text" name="address" placeholder="{{ teacher.city }}"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required
                                        class="single-input" value="{{ teacher.city }}">
                                </div>
                                <div class="mt-10">
                                    <input type="text" name="banks" placeholder="Банковские реквизиты"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Реквизиты банка'"
                                        required class="single-input">
                                </div>
                                <input type="submit" value="submit"> 
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="visit-area fix visite-padding">
            <h4>Другие проекты Гарантии Знаний</h4>
            <div class="container-fluid p-0">
                <div class="row ">
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="{% static 'images/visit/visit_1.jpg' %}" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">citmv.com</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="assets/img/visit/visit_2.jpg" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">mvsp.net</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="assets/img/visit/visit_3.jpg" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">dmcal.co</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="assets/img/visit/visit_4.jpg" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">dmco.net</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}