{% extends 'base/base_teacher.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
    <meta name="description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<!-- have-project End -->
            <!-- Generating Start -->
        <div class="generating-area" style="margin-top: 150px">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Кабинет Преподавателя</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="single-element-widget">
                            <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Мой профиль</h4>
                                <form action="#">
                                    <div class="mt-10">
                                        <input type="text" name="first_name" placeholder="First Name"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
                                            class="single-input">
							        </div>
                                    <div class="mt-10">
								<input type="text" name="last_name" placeholder="Last Name"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
									class="single-input">
							</div>
                                    <div class="mt-10">
								<input type="text" name="age_kids" placeholder="Child age
									onfocus=" onblur="this.placeholder = 'Child age'"
									required class="single-input">
							</div>
                                    <div class="mt-10">
                                        <input type="email" name="EMAIL" placeholder="Email address"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                                            class="single-input">
                                    </div>
                                    <div class="input-group-icon mt-10">
								<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
								<div class="form-select" id="default-select">
									<select>
                                        <option value=" 1">Country</option>
                                        <option value="1">Bangladesh</option>
                                        <option value="1">India</option>
                                        <option value="1">England</option>
                                        <option value="1">Srilanka</option>
									</select>
								</div>
                                        </div>
                                <div class="mt-10">
                                    <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Address'" required class="single-input">
                                </div>
                                     <div class="mt-10">
                                    <input type="text" name="banks" placeholder="Банковские реквизиты" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Реквизиты банка'" required class="single-input">
                                </div>
                                   <br><a href="#" class="genric-btn info-border">Редактировать</a>
                                </form>
                            </div>
                        </div>

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                         <div class="single-element-widget">
                                <div class="single-generating d-flex mb-30">
                                <div class="generating-cap">
                                    <h4>Ближайшие уроки</h4>
                                    <h5>Математика</h5>
                                    <style>
                                        /* CSS style for Boxes */
                                        span_time {
                                            display: inline-flex;
                                            width: 70px;
                                            height: 70px;
                                            background-color: white;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                         span_big {
                                            display: inline-flex;
                                            width: 120px;
                                            height: 120px;
                                            background-color: white;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    </style>
                                    <span_time class="border border-primary rounded">10 дней</span_time>
                                    <span_time class="border border-primary rounded">5 часов</span_time>
                                    <span_time class="border border-primary rounded">8 минут</span_time>
                                    <p><br><a href="{% url 'send_email_stats' %}" class="genric-btn info-border">Подключиться</a> <a href="{% url 'send_email_stats' %}" class="genric-btn danger-border">Домашнее задание</a></p>
                                </div>
                            </div>
                                <div class="single-generating d-flex mb-30">
                                <div class="generating-cap">
                                    <h4>Статистика</h4>
                                    <div class="table-responsive">
                                      <table class="table">
                                      <caption><a href="{% url 'send_email_stats' %}" class="genric-btn danger-border">Отправить статистику на почту</a>
                                </caption>
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">First</th>
                                          <th scope="col">Last</th>
                                          <th scope="col">Handle</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>Mark</td>
                                          <td>Otto asdas asd as</td>
                                          <td><div class="progress">
									<div class="progress-bar color-1" role="progressbar" style="width: 100%"
										aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>Jacob</td>
                                          <td>Thornton</td>
                                          <td><div class="progress">
									<div class="progress-bar color-2" role="progressbar" style="width: 80%"
										aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
								</div></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>Larry</td>
                                          <td>the Bird</td>
                                          <td><div class="progress">
									<div class="progress-bar color-3" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="visit-area fix visite-padding">
            <h4>Другие проекты Гарантии Знаний</h4>
            <div class="container-fluid p-0">
                <div class="row ">
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="{% static 'images/visit/visit_1.jpg' %}" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">citmv.com</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="assets/img/visit/visit_2.jpg" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">mvsp.net</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="assets/img/visit/visit_3.jpg" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">dmcal.co</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="assets/img/visit/visit_4.jpg" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">dmco.net</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>



{% endblock %}