{% extends 'base/base_courses.html' %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
    <meta name="description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="fh5co-contact" id="contacts">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h3>TEACHER!!!!!</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">Hello!!!</h4>
                            <p class="list-group-item-text">Типы данных</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">2 урок</h4>
                            <p class="list-group-item-text">Типы данных</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">3 урок</h4>
                            <p class="list-group-item-text">Типы данных</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">

                    PROFILE

                </div>
			</div>
		</div>
	</div>







{% endblock %}