{% extends 'base/base_courses.html' %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - Соискатели{% endblock title %}

{% block tags %}
    <meta name="description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="fh5co-contact" id="contacts">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h3>Гарантия Знаний</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Уроки</h4>
                        </a>
                        <a href="{% url 'students_manage' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Ученики</h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Группы</h4>
                        </a>
                        <a href="{% url 'leads' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Лиды</h4>
                        </a>
                        <a href="{% url 'teachers' %}" class="list-group-item active">
                            <h4 class="list-group-item-heading">Преподаватели</h4>
                        </a>
                        <a href="{% url 'applicants' %}" class="list-group-item">
                            <h4 class="list-group-item-heading ">Соискатели</h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Финансы</h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Франчайзи</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <button class="btn btn-success">Добавить</button>
                    </div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Created</th>
                          <th scope="col">Name</th>
                          <th scope="col">Communictaion</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for teacher in teacher_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ teacher.name }}</td>
                          <td>{{ teacher.city }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                </div>
			</div>
		</div>
	</div>







{% endblock %}