{% extends 'base/base_teacher.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - подключение к уроку{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Мои уроки</h3>
</div>
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
            <h3 class="text-left">Предстоящие уроки</h3>
            <table class="table" style="text-align: left">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Дата/время</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Тема урока</th>
                  <th scope="col">Студенты</th>
                  <th scope="col">Домашнее задание</th>
                  <th scope="col"></th>
                  <th scope="col">Завершение урока</th>
                </tr>
              </thead>
              <tbody>
               {% for lesson in upcoming_lessons %}
                <tr>
                  <th scope="row">{{ lesson.schedule.start_timestamp }}</th>
                  <td>{{ lesson.lesson_name }}</td>
                    <td></td>
                    <td style="text-align: left">{% for student in lesson.students.all %}
                        {{ forloop.counter }}. {{ student}}<br>
                    {% endfor %}</td>
                    <td style="text-align: right">
                        <form method="POST" id="homework_form_{{ lesson.id }}">
                            {% csrf_token %}
                            <input name="lesson_id" value="{{ lesson.id }}" hidden>
                            <textarea name="homework" class="form-control" rows="2">{{ lesson.homework }}</textarea>
                            <input type="submit" value="Сохранить"/>
                        </form>
                    </td>
                    <td><a class="genric-btn danger-border radius" href="http://video.garantylearning.com/?lesson_id={{ lesson.id }}&student=false" target="_blank">Подключиться</a></td>
                    <td><a class="genric-btn primary-border radius" href="http://video.garantylearning.com/?lesson_id={{ lesson.id }}&student=false" target="_blank" data-toggle="modal" data-target="#completeLesson{{ lesson.id }}">Проведен</a></td>
                 <!-- модальное окно завершения урока -->
                    <div class="modal fade" id="completeLesson{{ lesson.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ lesson.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel{{ lesson.id }}">Завершение урока</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        <form id="complete_lesson_form">
                            {% csrf_token %}
                          <div class="modal-body">
                                <h4>Присутствующие</h4>
                                {% for student in lesson.students.all %}
                                    <div class="form-check" style="text-align: left">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{ forloop.counter }}">
                                          <label class="form-check-label" for="defaultCheck{{ forloop.counter }}">
                                            {{ student}}
                                          </label>
                                    </div>
                                    <textarea placeholder="Комментарий" name="student_{{ forloop.counter }}"></textarea>
                                {% endfor %}
                                <hr>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Подтвердить</button>
                          </div>
                         </form>
                        </div>
                      </div>
                    </div>
                </tr>
               {% endfor %}
              </tbody>
            </table>

            <h3 class="text-left">Завершенные уроки</h3>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Дата/время</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Присутствующие</th>
                  <th scope="col">Начислено</th>
                </tr>
              </thead>
              <tbody>
                <tbody>
               {% for lesson in past_lessons %}
                   {% if lesson.completed %}
                <tr>
                  <th scope="row">{{ lesson.schedule.start_timestamp }}</th>
                  <td>{{ lesson.lesson_name }}</td>
                    <td style="text-align: left">{% for student in lesson.students.all %}
                        {{ forloop.counter }}. {{ student}}<br>
                    {% endfor %}</td>
                    <td><a style="color: red; text-decoration: underline;" href="http://video.garantylearning.com/?lesson_id={{ lesson.id }}&student=false" target="_blank">Подключиться</a></td>
                </tr>
                   {% endif %}
               {% endfor %}
              </tbody>
            </table>

            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}
    <script>
   $('form').submit(function () {
        event.preventDefault();

          $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/courses/api/0/set-lesson-info/",
            data: $(this).serialize(),
            success: function (data) {
                alert("Домашнее задание сохранено");
            },
            error: function(e, x, r) {
                alert(e);
            }
          });
          return false;

    });

    $('#complete_lesson_form').submit(function() {
     $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/students/api/0/set-student-module-done/",
            data: $(this).serialize(),
            success: function (data) {
              alert("Урок помечен выполненным");
            },
              error: function(e, x, r) { // on error..
                    alert(e);
              }
          });
      });
    </script>
{% endblock %}