{% extends "base/base_courses.html" %}
{% load static %}
{% block title %}Система видеосвязи{% endblock %}
{% block content %}

    <div class="generating-area" style="margin-top: 150px">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center">
                    <h2>Система видео</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <video id="localVideo" playsinline autoplay muted></video>
                <video id="remoteVideo" playsinline autoplay></video>

                <div class="box">
                    <button id="startButton">Start</button>
                    <button id="callButton">Call</button>
                    <button id="hangupButton">Hang Up</button>
                </div>

                <div class="box">
                    <span>SDP Semantics:</span>
                    <select id="sdpSemantics">
                        <option selected value="">Default</option>
                        <option value="unified-plan">Unified Plan</option>
                        <option value="plan-b">Plan B</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
 <script src="{% static 'js/webrtc.js' %}"></script>
{% endblock %}