{% extends 'base/base_courses.html' %}
{% load static %}
{% block title %}Гарантия Знаний - индивидуальная образовательная программа для каждого ученика{% endblock title %}

{% block tags %}
    <meta name="description" content="Гарантия Знаний - индивидуальная образовательная программа для каждого ученика" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2" style="background-image: url('{% static 'images/head_camp.png' %}')">
    <h3>Лагерь "Хранители Знаний"</h3>
</div>
    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="single_about_info">
                        <h3>Городской лагерь
                            <script>document.write(new Date().getFullYear());</script></h3>
                        <p>Школа «Гарантия Знаний» приглашает мальчиков и девочек 6-16 лет в детский городской лагерь! Ребят ждут новые знакомства, познавательные мероприятия, а также насыщенная развлекательная программа!</p>
                        <a href="#" class="boxed_btn">Презентация лагеря</a>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="about_tutorials">
                        <div class="courses">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>50+</span>
                                    <p> Преподавателей</p>
                                </div>
                            </div>
                        </div>
                        <div class="courses-blue">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>10тыс</span>
                                    <p> Учеников</p>
                                </div>

                            </div>
                        </div>
                        <div class="courses-sky">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>30</span>
                                    <p> Курсов</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- about_area_end -->

    <!-- popular_courses_start -->
    <div class="section-top-border">
        <div class="container">
        <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
         <h3>Особенности</h3>
                <div class="row center-block text-center mb-30">
                    <div class="col-md-4 center-block col-sm-4 col-xs-6">
                        <span class="icon"><img src="../../images/ic-highfive.svg" alt="Детский городской лагерь науки для детей и школьников в Москве" class="img-responsive center-block" width="64"></span>
                        <p style="font-size: 18px">Насыщенная и увлекательная программа мероприятий для каждого отряда</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <span class="icon"><img src="../../images/innovation.svg" alt="Детский городской лагерь науки для детей и школьников в Москве" class="img-responsive center-block" width="64"></span>
                        <p style="font-size: 18px">30+ инновационных курсов для всех интересов и будущих профессий</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <span class="icon"><img src="../../images/landscape.svg" alt="Детский городской лагерь науки для детей и школьников в Москве" class="img-responsive center-block" width="64"></span>
                        <p style="font-size: 18px">Все меропрития в пешей доступности от нашего лагеря</p>
                    </div>
                </div>
                        <div class="row center-block text-center">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <span class="icon"><img src="../../images/school.svg" alt="Детский городской лагерь науки для детей и школьников в Москве" class="img-responsive center-block" width="64"></span>
                        <p style="font-size: 18px">Собственная закрытая территория, просторные помещения и мини-отряды до 10 человек</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <span class="icon"><img src="../../images/strategy.svg" alt="Детский городской лагерь науки для детей и школьников в Москве" class="img-responsive center-block" width="64"></span>
                        <p style="font-size: 18px">Развлекательные мероприятия, включая игровые турниры, спортивные состязания, настольные игры и экскурсии</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <span class="icon"><img src="../../images/presentation.svg" alt="Детский городской лагерь науки для детей и школьников в Москве" class="img-responsive center-block" width="64"></span>
                        <p style="font-size: 18px">Финальная презентация - дети разрабатывают творческий проект и показывают его родителям</p>
                    </div>
                </div>
                    </div>
        </div>
        </div>
    </div>
    <div class="section-top-border">
        <div class="container">
                        <h3 class="mt-30 text-center">Отзывы о нашем лагере</h3>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Мария</h5>
                                    <p class="card-text">“ Этим летом мой ребенок посетил ваш лагерь. Смена пролетела незаметно. Сын узнал много нового и интересного и отлично провел время. Хочется сказать всей вашей команде спасибо за чуткое отношение к детям. Планируем и дальше продолжать дружбу! ”</p>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Наталия</h5>
                                    <p class="card-text">“ Мой сын посещал летний лагерь Гарантия знаний впервые. Ему очень понравилось. Хотел остаться ещё на смену)) Спасибо вожатым и преподавателям! Думаю, что ещё вернёмся)) Спасибо за то, что так хорошо занимаетесь с детьми! ”</p>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Юлия</h5>
                                    <p class="card-text">“ Хочу поделиться впечатлениями!! Мой " ершистый" сынок шёл со слезами на глазах в лагерь Гарантии Знаний!!!после 1 дня вставал раньше будильника, чтоб не опоздать в лагерь!!! Большое спасибо организаторам за чуткое отношение к детям!!! Очень рекомендуем!!!! ”</p>
                                  </div>
                                </div>
                                <p  class="text-right"><a href="">Все отзывы</a></p>
                            </div>
                        </div>
        </div>
    </div>
    <div class="whole-wrap">
		<div class="container box_1170">
            <div class="section-top-border">
				<h3 class="mb-30">Незабываемые эмоции</h3>
				<div class="row">
					<div class="col-md-7">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-5 mt-sm-20">
						<p>Каждый день Ваши дети будут погружаться в мир настоящих научных изобретений и открытий.
                            Кроме этого ребята ежедневно будут посещать различные выездные мероприятия:</p>
                        <ul class="unordered-list">
								<li>Сухой бассейн</li>
								<li>День кино</li>
								<li>Боулинг</li>
								<li>Прогулка на теплоходе</li>
								<li>Ипподром и многое другое</li>
							</ul>
					</div>
				</div>
			</div>
			<div class="section-top-border text-right">
				<h3 class="mb-30">Питание</h3>
				<div class="row">
					<div class="col-md-5">
						<p class="text-left">А чтобы на все это ребятам хватало сил, мы с особым вниманием подошли к вопросу питания Ваших детей. Вкусный горячий полноценный обед в уютном кафе, где специально для нас будет предложено детское меню,
                            и полезный витаминный полдник.</p>
					</div>
					<div class="col-md-7">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
             <div class="section-top-border">
				<h3 class="mb-30">Интересные занятия</h3>
				<div class="row">
					<div class="col-md-7">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-5 mt-sm-20">
                        <p>Ребята познакомятся с самыми прогрессивными и передовыми областями знаний, такими как робототехника и программирование, химия и биоинженерия, математика и основы финансовой грамотности. На наших площадках, ребята смогут создавать свои уникальные
                            проекты и проводить настоящие опыты, играть в спортивные игры и заниматься творчеством.</p>
					</div>
				</div>
			</div>
			<div class="section-top-border text-right">
				<h3 class="mb-30">Связь с родителями</h3>
				<div class="row">
					<div class="col-md-5">
						<p class="text-left">Вы всегда будете в курсе, чем занимается ваш ребенок. Мы публикуем жизнь нашего
                            лагеря ежедневно в социальных сетях и в WhatsApp/Telegram. Посмотрите, как проходили наши предыдущие смены</p>
					</div>
					<div class="col-md-7">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- popular_courses_end-->
    <div class="courses_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="single_courses">
                       <h3 class="second_title">Частые вопросы</h3>
                    </div>
                    <div class="outline_courses_info">
                            <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <i class="flaticon-question"></i> Какой возраст детей?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                Мы создаем три отряда и делим их по возрастам: 6-8, 9-11 и 12-15 лет. Для каждого отряда предусмотрена своя программа занятий.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="flaticon-question"></i>Где ребята кушают?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                Как правило наш лагерь питается в лучших кафе города. У нас предусмотрена домашняя кухня, и мы соблюдаем режим питания ребенка, если присутствуют аллергии.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <i class="flaticon-question"></i> Мне нужно нестандартное время посещения
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                В этом случае у нас предусмотрена программа дополнительных часов посещения. Наши вожатые будут орагнизовывать дополнительные игры и мероприятия специально для ваших детей в более ранее время начала.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading_4">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                                    <i class="flaticon-question"></i> Где ребята гуляют?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion">
                                            <div class="card-body">
                                                Буквально в 100 метрах от нас находится замечательный парк. Все активности мы проводим в нем.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading_5">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                                    <i class="flaticon-question"></i> Где посмотреть почасовую программу лагеря?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse_5" class="collapse" aria-labelledby="heading_5" data-parent="#accordion">
                                            <div class="card-body">
                                                Специально для каждого отряда мы разрабатываем индивидуальную программу,
                                                основываясь на увлечениях ребят. У нас есть набор основных мероприятий,
                                                которые мы обязательно посетим с отрядами.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="single_courses">
                       <h3 class="second_title">Забронировать место</h3>
                    </div>
                    <div class="feedback_info">
                        <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя'" placeholder="Ваше имя">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Телефон'" placeholder="Телефон">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Возраст ребенка'" placeholder="Возраст ребенка">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Предмет'" placeholder="Предмет">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="3" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Комментарий'" placeholder="Комментарий"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Отправить</button>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whole-wrap">
		<div class="container box_1170">
    <div class="section-top-border">
				<h3>Image Gallery</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="img/elements/g1.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/elements/g1.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="img/elements/g2.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/elements/g2.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="img/elements/g3.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="img/elements/g4.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/elements/g4.jpg);"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="img/elements/g5.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/elements/g5.jpg);"></div>
						</a>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}