{% extends 'base/base_courses.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<!-- slider_area_start -->
<div class="slider_area ">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-md-6">
                    <div class="illastrator_png">
                        <img src="{% static 'images/banner/edu_ilastration.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="slider_info">
                        <h1>ГАРАНТИЯ ЗНАНИЙ - <br>современная школа <br>
                            для вашего ребенка</h1>
                        <a href="#all-tab" class="boxed_btn">Все курсы</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- popular_courses_start -->
<div class="popular_courses" id="popular_courses">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3 style="font-family: 'Marker Felt'">Наши занятия</h3>
                    <p>9 из 10 родителей считают, что школа <br>"Гарантия Знаний" - отличный выбор!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="course_nav">
                    <nav>
                        <ul class="nav" id="myTab" role="tablist">
                            {% for course in courses %}
                            <li class="nav-item">
                                <a class="nav-link" id="all-tab" data-toggle="tab" href="#All" role="tab"
                                    aria-controls="design" aria-selected="false">{{ course.title }}</a>
                            </li>
                            {% endfor %}
                            {% for subject in subjects %}
                            <li class="nav-item">
                                <a class="nav-link" id="{{ subject.slug }}-tab" data-toggle="tab"
                                    href="#{{ subject.slug }}" role="tab" aria-controls="home"
                                    aria-selected="true">{{ subject.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <div class="all_courses">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="All" role="tabpanel" aria-labelledby="all-tab">
                    <div class="row">
                        {% for course in courses %}
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="/media/{{ course.image }}" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>{{ course.subject }}</span>
                                    <h3><a href="{% url 'course_detail' slug=course.slug %}">{{ course.title }}</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            Стоимость:
                                        </div>
                                        <div class="prise">
                                            <span class="active_prise">
                                                от {{ course.cost }}руб / занятие
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% for subject in subjects %}
                <div class="tab-pane fade show" id="{{ subject.slug }}" role="tabpanel"
                    aria-labelledby="{{ subject.slug }}-tab">
                    <div class="row">
                        {% for course in courses %}
                        {% if course.subject == subject %}
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="{{ course.image }}" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>{{ course.subject }}</span>
                                    <h3><a href="#">{{ course.title }}</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <div class="prise">
                                            <span class="offer">{{ course.old_cost }}</span>
                                            <span class="active_prise">
                                                {{ course.cost }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="col-xl-12">
                            <div class="more_courses text-center">
                                <a href="#contact_form" class="boxed_btn_rev">Узнать подробности</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- popular_courses_end-->


<!-- testimonial_area_start -->
<div class="testimonial_area testimonial_bg_1 overlay">
    <div class="testmonial_active owl-carousel">
        <div class="single_testmoial">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_text text-center">
                            <div class="author_img">
                                <img src="{% static 'images/testmonial/author_img.png' %}" alt="">
                            </div>
                            <p>
                                “ Очень замечательные курсы! Ребенок (девочка)выбрал сдавать физику. Нас очень сильно
                                пугало, что такой предмет по выходным и два часа. Но наши опасения были напрасны...
                                <br>Занятия очень нравятся! И за контрольные в школе теперь только "5". ”

                            </p>
                            <span>- Ирина</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_testmoial">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_text text-center">
                            <div class="author_img">
                                <img src="{% static 'images/testmonial/author_img.png' %}" alt="">
                            </div>
                            <p>
                                "Занимались на курсах робототехники на протяжении года в Гарантии Знаний. Ребенок был в
                                восторге от занятий, два часа для него пролетали незаметно.
                                Дома даже начал мастерить множество всяких устройств.<br>Спасибо за то, что так хорошо
                                учите детей!"

                            </p>
                            <span>- Мария</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_end -->

<section class="contact-section" id="contact_form">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
        </div>
        <div class="row">
            <div class="col-8">
                <h2 class="contact-title">Готовы помочь своему ребенку начать получать отличные оценки и новые знания?
                </h2>
                <p>Позвоните нам по телефону: 8(495)127-78-33 или заполните форму ниже. Мы свяжемся с вами, чтобы
                    разработать для вашего ребенка индивидуальную образовательную программу!</p>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
                    novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control valid" name="name" id="name" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя'"
                                    placeholder="Ваше имя">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="name" id="name" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Телефон'"
                                    placeholder="Телефон">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="email" id="email" type="email"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Возраст ребенка'"
                                    placeholder="Возраст ребенка">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Предмет'"
                                    placeholder="Предмет">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="3"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Комментарий'"
                                    placeholder="Комментарий"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Более 30 филиалов</h3>
                        <p>+ онлайн занятия</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+7 495 127 7833</h3>
                        <p>Ежедневно с 9.00 до 19.00</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>info@garantylearning.com</h3>
                        <p>Доступны всегда!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- subscribe_newsletter_Start -->
<div class="subscribe_newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="newsletter_text">
                    <h3>Помогите своему ребенку стать успешным</h3>
                    <p>Найдите филиал школы "Гарантия Знаний" в своем городе или занимайтесь онлайн!</p>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="newsletter_form">
                    <h4>Введите город или позвоните нам: 8(495)127-78-33</h4>
                    <form action="#" class="newsletter_form">
                        <input type="text" placeholder="Город">
                        <button type="submit">Найти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe_newsletter_end -->
<!-- our_courses_start -->
<div class="our_courses">
    <div class="container">

        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <a href="{% url 'our_approach' %}">
                        <div class="icon">
                            <i class="flaticon-art-and-design"></i>
                        </div>
                        <h3>Индивидуальная программа</h3>
                        <p>
                            Для каждого ребенка разработана индивидуальная программа обучения
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <a href="{% url 'our_teachers' %}">
                        <div class="icon blue">
                            <i class="flaticon-business-and-finance"></i>
                        </div>
                        <h3>Наш секрет?<br>Наши педагоги</h3>
                        <p>
                            Наши преподаватели эксперты в инженерных направлениях и подготовке к экзаменам.
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <a href="{% url 'our_results' %}">
                        <div class="icon">
                            <i class="flaticon-premium"></i>
                        </div>
                        <h3>Высокая эффективность. <br>Гарантия результата!</h3>
                        <p>
                            Мы отслеживаем прогресс ребенка, подбираем группу и следим за усвоением материала
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <a href="{% url 'our_testimonials' %}">
                        <div class="icon gradient">
                            <i class="flaticon-crown"></i>
                        </div>
                        <h3>Успешные выпускники<br>-наша гордость!</h3>
                        <p>
                            Родители говорят, что благодаря нам их дети обрели уверенность в себе и своих знаниях
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_courses_end -->
{% endblock %}