{% extends 'base/base_courses.html' %}
{% load static %}
{% block title %}Гарантия Знаний - индивидуальная образовательная программа для каждого ученика{% endblock title %}

{% block tags %}
    <meta name="description" content="Гарантия Знаний - индивидуальная образовательная программа для каждого ученика" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Наши преподавателя</h3>
</div>

               <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="offset-1 col-lg-10 posts-list">
               <div class="single-post">
                  <div class="blog_details">
                      <h2 style="font-size: 40px; font-family: 'Marker Felt'">У Гарантии Знаний одна из самых одаренных образовательных команд в России
                     </h2>
                     <h3>(И это действительно классно для вашего ребенка!)
                     </h3>
                     <p class="excert">
                        Возможно, вы видели, что ученики Сильвана могут получить в три раза больше результатов по математике и чтению, чем их сверстники ... И что дети любят приезжать в Сильван ... И что мы гарантируем значительный прогресс в навыках для наших учеников с индивидуальным обучением.
                    <br>
                    Но знаете ли вы, как все это возможно?
                    <br>
                    Сильван имеет удивительную команду образования. Наша команда преподавателей, возглавляемая нашим вице-президентом по образованию Эмили Левитт, постоянно оттачивает и совершенствует нашу учебную программу.
                    <br>
                    Эмили Левитт
                    Эмили начинала как классная учительница и получила степень бакалавра в области среднего английского в Университете Мэриленда и степень магистра в Университете Тоусона. Она преподавала чтение и письмо в средней школе штата Мэриленд. Это важно, потому что в Сильване мы знаем, как важно, чтобы дополнительная помощь, которую вы получаете вашему ребенку, имела прямую связь с успеваемостью в школе.
                    <br>
                    Эмили также более 20 лет работала в области разработки учебных программ и технологий обучения. Она следит за тем, чтобы команда Sylvan Education всегда была в курсе последних событий, и предоставляет программы, которые помогут вашему ребенку изучить различные подходы, которые ожидаются в классе. Наша команда знает, что происходит в США и Канаде, и как работать с изменяющимися стандартами, чтобы показать лучшее из всего мира перед нашими студентами из Сильвана.
                    <br>
                    Если вы выберете частного репетитора или репетиторскую компанию, которая не обновляла свою учебную программу в течение последних 12 месяцев (не говоря уже о последних 12 лет), ваш ребенок не будет готов к тому, что ожидается в классе.
                     </p>
                       <img src="{% static 'images/banner/edu_ilastration.png' %}" class="pull-left"/>
                      <h3>Ваш ребенок изучит жизненные навыки, а также академические навыки.
                     </h3>
                      <p class="excert">
                          В дополнение к Эмили, все в нашей образовательной команде были преподавателями в классе с особым вниманием
                          к математике или английскому языку. Мы знаем, о чем спрашивают вашего ребенка в школе,
                          и какие навыки нужны вашему ребенку для достижения успеха,
                          такие как уверенность и настойчивость. Мы встроили эти навыки прямо в нашу учебную программу.
                          У вашего ребенка будет положительный опыт обучения.
Эмили и ее команда более 50 лет преподают и пишут учебные планы. Мы знаем разницу между тем, что работает для пятилетнего ребенка, и тем, что работает для одиннадцатилетнего ребенка, поэтому обучение действительно выгодно для вашего ребенка.

Эмили также проводит много времени в наших центрах, следуя инструкциям. Она гарантирует, что наш учебный план отвечает потребностям как наших студентов, так и наших преподавателей. Все эти знания означают, что ваш ребенок получит:
Персонализированные инструкции, адаптированные для вашего ребенка, с современными уроками, которые наши преподаватели преподают вашему ребенку. Целевые, интерактивные упражнения, которые показывают, что ваш ребенок может последовательно применять концептуальные уникальные инструменты, чтобы ускорить его развитие.
Частные репетиторы и большинство репетиторских компаний не имеют такой силы разума, способствующей прогрессу вашего ребенка.
                          Когда вы выбрали Сильван, вы будете знать, что сделали отличный выбор.

Узнайте от Минди о том, как полезно помогать детям, которые, возможно, борются со школьной работой.
                      </p>
                      <hr>
                      <h4>Посмотрите, что думают о нас родители наших учеников:</h4>
                      <div class="row">
                          <div class="col-lg-8 offset-2">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/q2yqeseO7aE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

{% endblock %}