{% extends 'base/base_courses.html' %}
{% load static %}
{% block title %}Гарантия Знаний - индивидуальная образовательная программа для каждого ученика{% endblock title %}

{% block tags %}
    <meta name="description" content="Гарантия Знаний - индивидуальная образовательная программа для каждого ученика" />
	<meta name="keywords" content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
	<meta name="author" content="dobriy_zhuk" />
	<meta property="og:title" content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей"/>
	<meta property="og:description" content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей"/>
	<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Отзывы</h3>
</div>

           <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="offset-1 col-lg-10 posts-list">
               <div class="single-post">
                  <div class="blog_details">
                      <h2 style="font-size: 40px; font-family: 'Marker Felt'">Тысячи успешных учеников по всему Миру!
                     </h2>
                     <h3>Мы гордимся тем, что помогли огромному количеству школьников добиться успеха!
                     </h3>
                     <p class="excert">
                        Отзывы есть! Каждый день в ходе нашего опроса клиентов родители говорят нам, что их дети обрели уверенность и просто любят приходить в Сильван. Фактически, семьи Сильвана считают чувство «Мой ребенок любит Сильван» одной из самых сильных сторон Сильвана.
                         <br>
                         Но неудивительно, что дети всех уровней мастерства с удовольствием приезжают в Сильван! От личных связей с нашими репетиторами, до «звезд и значков», которые дети могут заработать на веселых призах, до интерактивных уроков на iPad® - обучение никогда не было таким классным.
                     </p>
                      <hr>
                      <div class="row">
					<div class="col-md-3">
						<img src="{% static 'images/exams.jpg' %}" alt="" class="img-fluid">
					</div>
                        <div class="col-md-9 mt-sm-20">
                    <h3 class="mb-30">Курсы подготовки к экзаменам</h3>
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer </p>
                        <a href="#" style="font-size: 20px; color: #c02323; font-family: 'Marker Felt'">Еще отзывы</a>
                        </div>
				</div>
                      <hr>
				<div class="row">
					<div class="col-md-3">
						<img src="{% static 'images/programming.jpg' %}" alt="" class="img-fluid">
					</div>
                        <div class="col-md-9 mt-sm-20">
                    <h3 class="mb-30">Программирование</h3>
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer </p>
                        <a href="#" style="font-size: 20px; color: #c02323; font-family: 'Marker Felt'">Еще отзывы</a>
                        </div>
				</div>
                          <hr>
				<div class="row">
					<div class="col-md-3">
						<img src="{% static 'images/math.jpg' %}" alt="" class="img-fluid">
					</div>
                        <div class="col-md-9 mt-sm-20">
                    <h3 class="mb-30">Математика</h3>
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer </p>
                        <a href="#" style="font-size: 20px; color: #c02323; font-family: 'Marker Felt'">Еще отзывы</a>
                        </div>
				</div>
                          <hr>
				<div class="row">
					<div class="col-md-3">
						<img src="{% static 'images/robotics_1.jpg' %}" alt="" class="img-fluid">
					</div>
                        <div class="col-md-9 mt-sm-20">
                    <h3 class="mb-30">Робототехника</h3>
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer </p>
                        <a href="#" style="font-size: 20px; color: #c02323; font-family: 'Marker Felt'">Еще отзывы</a>
                        </div>
				</div>
                      <hr>
                    <div class="row">
					<div class="col-md-3">
						<img src="{% static 'images/camp_1.jpg' %}" alt="" class="img-fluid">
					</div>
                        <div class="col-md-9 mt-sm-20">
                    <h3 class="mb-30">Лагеря</h3>
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer </p>
                        <a href="#" style="font-size: 20px; color: #c02323; font-family: 'Marker Felt'">Еще отзывы</a>
                        </div>
				</div>

                      <hr>
                      <h4>Посмотрите, что думают о нас родители наших учеников:</h4>
                      <div class="row">
                          <div class="col-lg-8 offset-2">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/q2yqeseO7aE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


        <!-- subscribe_newsletter_Start -->
    <div class="subscribe_newsletter">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="newsletter_text">
                        <h3>Помогите своему ребенку стать успешным</h3>
                        <p>Найдите филиал школы "Гарантия Знаний" в своем городе или занимайтесь онлайн!</p>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="newsletter_form">
                        <h4>Введите город или позвоните нам: 8(495)127-78-33</h4>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Город">
                            <button type="submit">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subscribe_newsletter_end -->
{% endblock %}