{% extends "base/base_profile.html" %}
{% block title %}
{{ object.title }}
{% endblock %}
{% load guardian_tags %}
{% load index %}
{%  load static %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>{{ object.title }}</h3>
</div>
<div class="about_area">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
               <aside class="single_sidebar_widget post_category_widget">
                  <h4 class="widget_title">Теория и практика</h4>
                  <ul class="list cat-list">
                     {% for m in object.modules.all %}
                     <li>
                        <a data-id="{{ m.id }}" {% if m == module and user_permission|index:forloop.counter0 == True %}
                           class="d-flex active" href="{% url 'student_course_detail_module' object.id m.id %}"
                           {% elif m != module and user_permission|index:forloop.counter0 == True %} class="d-flex"
                           href="{% url 'student_course_detail_module' object.id m.id %}"
                           {% elif user_permission|index:forloop.counter0 == False %} class="d-flex disabled"
                           {% endif %}>
                           {% get_obj_perms request.user for m as "done_module_perms" %}

                           Занятие {{ m.order|add:1 }}. {{ m.title }}
                           {% if 'module_done' in done_module_perms %}
                              <div style="color: greenyellow; margin-left: 1em;">Завершен</div>
                           {% endif %}
                        </a>
                     </li>
                     {% empty %}
                     <li>No modules yet.</li>
                     {% endfor %}
                  </ul>
               </aside>
            </div>
         </div>
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               {% for content in module.contents.all %}
               <div class="blog_details">
                  {% with item=content.item %}
                  <h2>{{ module.title }}
                  </h2>
                  <p>
                      <input type='hidden' name='content_type' value='{{ item|model_name }}'>
                  <form>
                  {% csrf_token %}
                  <input type='hidden' name='student_id' value='{{ request.user.student.id }}'>
                  <input type='hidden' name='module_id' value='{{ module.id }}'>
                  {{ item.render }}
                  </form>
                  </p>

                  {% endwith %}
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}


{% block javascript %}

    <script src="{% static 'js/content.js' %}"></script>
    <script>

   function check() {
       return 'ok';
        /*        myVar = JSON.stringify({compiler: "gcc-head", "code":$('textarea#my_code').val(),"options": "warning,gnu++1y", "compiler-option-raw": "-Dx=hogefuga\n-O3" });
                jQuery.ajax({
                    url:     "https://wandbox.org/api/compile.json", //Адрес подгружаемой страницы
                    type:     "POST", //Тип запроса
                    dataType: "json", //Тип данных
                    data: myVar,
                    compiler:"gcc-head",
                    success: function(response) { //Если все нормально
                        $('#compilation-result').html(response.program_message);
                        var answer = document.getElementById("answer").getAttribute("data-value");
                        return response.program_message;
                    },
                    error: function(response) { //Если ошибка
                        return 'error';
                    }
                });*/

            }

            $('#compile_check').submit(function() {
     $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/courses/api/0/set-lesson-info/",
            data: $(this).serialize(),
            success: function (data) {
              alert("Урок помечен выполненным");
            },
              error: function(e, x, r) { // on error..
                    alert(e);
              }
          });
      });
    </script>
{% endblock %}