{% extends "base/base_profile.html" %}
{% block title %}
{{ object.title }}
{% endblock %}
{% load guardian_tags %}
{% load index %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>{{ object.title }}</h3>
</div>
<div class="about_area">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
               <aside class="single_sidebar_widget post_category_widget">
                  <h4 class="widget_title">Теория и практика</h4>
                  <ul class="list cat-list">
                     {% for m in object.modules.all %}
                     <li>
                        <a data-id="{{ m.id }}" {% if m == module and user_permission|index:forloop.counter0 == True %}
                           class="d-flex active" href="{% url 'student_course_detail_module' object.id m.id %}"
                           {% elif m != module and user_permission|index:forloop.counter0 == True %} class="d-flex"
                           href="{% url 'student_course_detail_module' object.id m.id %}"
                           {% elif user_permission|index:forloop.counter0 == False %} class="d-flex disabled"
                           {% endif %}>
                           {% get_obj_perms request.user for m as "done_module_perms" %}

                           Занятие {{ m.order|add:1 }}. {{ m.title }}
                           {% if 'module_done' in done_module_perms %}
                              <div style="color: greenyellow; margin-left: 1em;">Завершен</div>
                           {% endif%}
                        </a>
                     </li>
                     {% empty %}
                     <li>No modules yet.</li>
                     {% endfor %}
                  </ul>
               </aside>
            </div>
         </div>
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               {% for content in module.contents.all %}
               <div class="blog_details">
                  {% with item=content.item %}
                  <h2>{{ module.title }}
                  </h2>
                  <p>
                     {{ item.render }}
                  </p>
                  {% endwith %}
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}